/* @override http://0.0.0.0:4000/css/screen.css */

body { font-size: 1.8em; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
h1 { margin-top: 0; }
h1 a { color: #000; }
a { color: #009; text-decoration: none; }
strong { font-family: "Goudy Old Style", "Palatino", "Book Antiqua", serif; }
em { font-weight: lighter; }

span.amp { font-family: "Goudy Old Style", "Palatino", "Book Antiqua", serif; font-style: italic; }