---
layout: base
title: Blog
---

<h2>Blog</h2>

<ul class="hfeed">
	{% for post in site.posts %}
		<li class="hentry"><a href="{{ post.url }}" class="entry-title" rel="bookmark">{{ post.title }}</a> <abbr class="updated" title="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</abbr></li>
	{% endfor %}
</ul>

<p class="breadcrumbs">
	<a href="/index.html" rel="home">Home</a> &#x2192;
	Blog
</p>