---
layout: base
title: Home
---

<p>
	The <strong>Asgard Project</strong> is a collection of
	<a href="http://djangoproject.com/">Django</a>
	<a href="apps/index.html">applications</a> created by
	<a href="http://mylesbraithwaite.com">Myles Braithwaite</a>.
	It is currently in the
	<a href="http://en.wikipedia.org/wiki/Development_stage#Alpha" title="Development stage Aplha">alpha stage of development</a>.
</p>

<h2>Links</h2>

<ul>
	<li>
		<a href="http://github.com/asgardproject" title="GitHub Profile">GitHub</a>
		<span class="amp">&amp;</span>
		<a href="http://gitorious.org/+asgard-project" title="Gitorious Asgard Team">Gitorious</a>
		- <em>Source Code</em>
	</li>
	<li>
		<a href="http://twitter.com/asgard_project">Twitter</a>
		<span class="amp">&amp;</span>
		<a href="http://identi.ca/asgardproject">Identi.ca</a>
		- <em>Status Updates</em>
	</li>
	<li><a href="/blog.html">Blog</a></li>
</ul>

<h2>Contribute</h2>
<p>
	If you are interested in contributing to the
	<strong>Asgard Project</strong> email
	<a href="http://mylesbraithwaite.com/">Myles Braithwaite</a>
	<span class="amp">@</span>
	<a href="mailto:me@mylesbraithwaite.com">me@mylesbraithaite.com</a>.
</p>