---
layout: base
title: Screenshots
---

<h2>Blog</h2>

<p>Some screenshots of the <strong>Asgard Applications</strong>.</p>

<a name="blog"></a>
<h3>Blog</h3>

<a href="/img/screenshots/blog-homepage.png"><img src="/img/screenshots/blog-homepage-thumb.png" title="Blog Homepage"></a>

<p class="breadcrumbs">
	<a href="/index.html" rel="home">Home</a> &#x2192;
	Screenshots
</p>