---
layout: base
title: Applications
---

<h2>Applications</h2>

<ul>
	<li><a href="/apps/blog.html">Blog</a></li>
	<li><a href="/apps/bookmarks.html">Bookmarks</a></li>
	<li><a href="/apps/calendar.html">Calendar</a></li>
</ul>

<p class="breadcrumbs">
	<a href="/index.html">Home</a> &#x2192;
	Applications
</p>