---
layout: base
---

<h2>{{ page.title }}</h2>

{{ content }}

<p class="breadcrumbs">
	<a href="/index.html" rel="home">Home</a> &#x2192;
	<a href="/apps/index.html" rel="directory">Applications</a> &#x2192;
	{{ page.title }}
</p>