<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page.title }} - Asgard Project</title>
	<meta name="author" content="Myles Braithwaite">
	<meta name="google-site-verification" content="VEZlb7mWGj-d1q1Bu1GpIwJsE1sTJHXuandpRai08wo">
	<link href="/atom.xml" rel="alternate" title="Asgard Project Blog" type="application/atom+xml" />
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>
<body>
	<h1 id="asgard_project"><a href="/index.html">Asgard Project</a></h1>
	
	<div id="content">
		{{ content }}
	</div>
	
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) 
? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-1642439-20");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>
