---
layout: base
---

<div class="hentry">
	<h2><a href="{{ page.url }}" class="entry-title" rel="bookmark">{{ page.title }}</a></h2>
	<p>posted <em class="updated" title="{{ post.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</em> by <em>{{ page.author }}</em></p>
	<div class="entry-content">
		{{ content }}
	</div>
</div>

<p class="breadcrumbs">
	<a href="/index.html" rel="home">Home</a> &#x2192;
	<a href="/blog.html" rel="directory">Blog</a> &#x2192;
	{{ page.title }}
</p>